* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1 {
	font-size: 34px;
    line-height: 1.08824;
    font-weight: 500;
    letter-spacing: .01em;
}
button {
	font-size: 12pt;
	padding: 0;
	position: relative;
	border-radius: 5px;
	background: #3fad3f;
	color: white;
}
button:active {
	background: #349234;
}
button:active .icon {
	background: #349234;
}
button .icon {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 34px;
	background: #3fad3f;
	color: white;
	height: 100%;
	padding-top: 0;
	border-right: 1px solid #a6caa6;
}
button .icon svg {
	padding-top: 9px;
}
button .label {
	display: inline-block;
	padding: .5em 1em;
	padding-left: 50px;
}
.work-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
}
.footer-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ddd7ed;
	padding: 4px 15px;
}
.left-nav {
	position: absolute;
	left: -300px;
	top: 26px;
	bottom: 26px;
	width: 300px;
	background: #FEE;
	padding: 0;
	-webkit-transition: all 0.3s ease;
}
.left-nav-is-visible .left-nav {
	left: 0;
}
.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #ddd7ed;
	padding: 4px 15px;
}
.label {
	font-weight: bold;
	padding: .25em .5em;
}
.dashboard {
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	bottom: 26px;
	padding: 4px 15px;
	-webkit-transition: all 0.3s ease;
}
.left-nav-is-visible .dashboard {
	left: 300px;
}
.settings-is-visible .dashboard {
	right: 300px;
}
ul.radio-options {
	border: 1px solid #CCC;
	display: inline-block;
	list-style: none;
	padding: .25em;
	border-radius: 15px;
	background: linear-gradient(to bottom, rgba(242,245,246,1) 0%, rgba(228,227,237,1) 37%, rgba(221,215,237,1) 100%);
}
ul.radio-options li {
	display: inline-block;
	padding: .25em 1em;
	cursor: pointer;
}
ul.radio-options li.selected {
	border-radius: 12px;
	font-weight: bold;
	border: 1px solid #BBB;
	background: white;
	box-shadow: 2px 2px 2px #BBB;
}