* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #f7f7f7;
	color: #666;
}
h1 {
	font-size: 34px;
    line-height: 1.08824;
    font-weight: 500;
    letter-spacing: .01em;
}
h2, h3 {
	font-weight: 300;
	letter-spacing: .1ex;
}
button {
	border: 1px solid #ccc;
	font-size: 12pt;
	padding: 0;
	position: relative;
	border-radius: 15px;
	background: #ddd;
	color: #666;
	cursor: pointer;
	box-shadow: 2px 2px 2px #BBB;
}
button:active {
	background: #EEE;
	box-shadow: 1px 1px 1px #BBB;
}
button:active .icon {
	background: #EEE;
}
button .icon {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 34px;
	padding-top: 2px;
	padding-left: 2px;
	border-right: 1px solid #a6caa6;
}
button .icon svg {
	padding-top: 8px;
}
button .label {
	display: inline-block;
	padding: .5em 1em;
	padding-left: 50px;
}
button.most-likely-action {
	background: #3fad3f;
	color: white;
}
button.most-likely-action .icon {
	color: white;
	background: #3fad3f;
}
button.most-likely-action:active {
	background: #349234;
}
button.most-likely-action:active .icon {
	background: #349234;
}
.clear {
	clear: both;
}
.pull-right {
	float: right;
}
.work-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
}
.footer-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ddd;
	padding: 4px 15px;
}
.left-nav {
	position: absolute;
	left: -300px;
	top: 26px;
	bottom: 26px;
	width: 300px;
	background: #FEE;
	padding: 0;
	-webkit-transition: all 0.3s ease;
}
.left-nav-is-visible .left-nav {
	left: 0;
}
.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #ddd;
	padding: 4px 15px;
}
.label {
	padding: .25em .5em;
}
.dashboard {
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	bottom: 26px;
	padding: 4px 15px;
	-webkit-transition: all 0.3s ease;
	background: #F5F5F5;
}
.dashboard .nav-buttons {
	margin: 10px 0;
}
.dashboard .nav-buttons button {
	margin-left: 1em;
}
.left-nav-is-visible .dashboard {
	left: 300px;
}
.settings-is-visible .dashboard {
	right: 300px;
}
.dashboard .active-monitors {
	position: absolute;
	border: 2px dashed #999;
	top: 72px;
	right: 26px;
	bottom: 26px;
	left: 300px;
	border-radius: 20px;
}
ul.radio-options {
	border: 1px solid #CCC;
	display: inline-block;
	list-style: none;
	padding: .25em;
	border-radius: 15px;
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(228,228,228,1) 37%, rgba(221,221,221,1) 100%);
	
}
ul.radio-options li {
	display: inline-block;
	padding: .25em 1em;
	cursor: pointer;
	border-radius: 12px;
	border: 1px solid #BBB;
	margin: 0 .25em;
	box-shadow: 2px 2px 2px #BBB;
	-webkit-transition: all 0.3s ease;
}
ul.radio-options li:active {
	box-shadow: inset 1px 1px 1px #999;
	border: 1px solid #BBB;
	background: white;
}
ul.radio-options li:first-of-type {
	margin-left: 0;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
ul.radio-options li:last-of-type {
	margin-right: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
ul.radio-options li.selected {
	box-shadow: inset 1px 1px 1px #999;
	border: 1px solid #BBB;
	background: white;
}
.input-collection {
	border: 1px solid #BBB;
	border-radius: 25px;
	padding: 1em;
	font-size: 12pt;
	box-shadow: 2px 2px 2px #BBB;
}
.input-collection input {
	border: 1px solid #999;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: .5em .25em;
	font-size: 12pt;
	display: table-cell;
	width: 100%;
	text-align: center;
}
.input-collection .input-set input {
	margin-left: -6px;
}
.input-collection .input-label {
	display: inline-block;
	width: 150px;
	background: #ddd;
	border: 1px solid #999;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: .5em .25em;
	font-size: 12pt;
	text-align: center;
	display: table-cell;
}
.input-collection .input-set {
	display: table;
	width: 100%;
}
.input-collection button {
	float: right;
	margin-right: 1em;
}
.input-collection button:first-of-type {
	margin-right: 0;
}
.input-collection .input-set, .name-value-mulit-input {
	margin-bottom: 10px;
}
.rest-verb-selector, .add-widget {
	text-align: center;
	position: absolute;
	top: 72px;
	right: 26px;
	left: 300px;
}
.rest-verb-selector, .add-widget h2 {
	margin-bottom: .75em;
}
.type-selector {
	margin-bottom: 10px;
}
.add-service-widget .parameters {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.add-service-widget .parameters .flex-item {
	flex-wrap: nowrap;
	flex-grow: 1;
	padding: 0.5em;
}
.multi-input-group {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.multi-input-group input {
	flex-wrap: nowrap;
	flex-grow: 1;
	border-radius: 0;
}
.name-value-mulit-input .multi-input-group:first-of-type  input:first-of-type {
	border-top-left-radius: 15px;
}
.name-value-mulit-input .multi-input-group:last-of-type  input:first-of-type {
	border-bottom-left-radius: 15px;
}
.name-value-mulit-input .multi-input-group:first-of-type input:last-of-type {
	border-top-right-radius: 15px;
}
.name-value-mulit-input .multi-input-group:last-of-type input:last-of-type {
	border-bottom-right-radius: 15px;
}
.monitor-list {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: scroll;
	padding: 1em;
}
.monitor-list .monitor-group {
	margin: .5em 0;
}
.monitor-list .monitor-group .monitor {
	position: relative;
	border: 1px solid #ccc;
	padding: .75em 1em;
	margin-left: -1em;
	background: #ddd;
	cursor: pointer;
	box-shadow: 2px 2px 2px #BBB;
}
.monitor-list .monitor-group .monitor .response-time {
	position: absolute;
	bottom: 0;
	left: 18px;
	font-size: 8pt;
}
.monitor-list .monitor-group .monitor:active {
	background: #EEE;
	box-shadow: 1px 1px 1px #BBB;
}
.monitor-list .monitor-group .monitor:first-of-type {
	border-top-right-radius: 15px;
}
.monitor-list .monitor-group .monitor:last-of-type {
	border-bottom-right-radius: 15px;
}
.led-indicator {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 2px solid #AAA;
	background: #CCC;
	border-radius: 50%;
	margin-right: 0.5em;
}
.led-indicator.test-failed {
	border-color: red;
	background: #F66;
}
.led-indicator.test-passed {
	border-color: green;
	background: #6F6;
}
.led-indicator.slow-response.test-passed {
	border-color: #9c9014;
	background: #f5f509;
}
.led-indicator .highlight {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
	opacity: .75;
}
